
  <nav class="navbar bg-dark">
  <a class="navbar-brand" href="#"><div id="logopic"><H1 id="logoname">MMOnster</H1></div></a>
 
  <div class="mnu">
    
  <a class="navlink mnuitm" {{{styleHomeLink}}} href="/api/freshies">Fresh</a>
  <a class="navlink mnuitm" {{{styleSavedLink}}} href="/api/clear">Clear</a>
  <a class="navlink mnuitm" {{{styleAboutLink}}} href="">About</a>
  
  </div>
  </nav>
<div class="burger">  
  <div class="container">  
      <h2 class="border-bottom">MMO News, Views and Pew Pew Pews!</h2>
      {{#each articles}}
      {{> articles/article-block}}
      {{/each}}
  </div>    
  
</div>
