<div class="row">
  <div class="jumbotron bg-dark text-primary col-12">
  <textarea type="text" id = "innote" class="mmonote">{{note}}</textarea>
  <a class="btn btn-primary" for="mmonote" style="color:white">Save</a>
  </div>    
</div>
